@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
::-moz-selection {
  color: white;
  background: #f6af44;
}

::selection {
  color: white;
  background: #f6af44;
}
header {
  position: fixed;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #afafaf;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 2;
}

.logo {
  font-size: 30px;
  color: #f6af44;
  margin-left: 10px;
  cursor: pointer;
  min-width: 175px;
}
.logo span {
  font-family: "Mali", cursive;
  letter-spacing: 2px;
}
.logo span:last-of-type {
  letter-spacing: normal;
}

.search {
  display: flex;
  width: 33%;
}
.search-form {
  height: 30px;
  width: 445px;

  display: flex;
  font-size: 13px;
}

input[type="search"] {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
  font-weight: 500;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
input[type="search"]:focus-visible {
  outline-color: #f6af44;
  outline-offset: 0px;
}

.search-button {
  width: 30px;
  background-color: #ededed;
  border: none;
  border: 1px solid #d7d7d7;
  border-left: none;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  cursor: pointer;
}
.search-button:hover {
  background-color: #d8d7d7;
  transition: ease 0.5s;
}

.mic-button {
  padding-left: 10px;
  background: none;
  border: none;
  color: #b9b9b9;
  font-size: 23px;
  cursor: pointer;
}
.mic-button:hover,
.notifications:hover {
  color: #979797;
  transition: ease 0.5s;
}

.profile {
  display: flex;
  width: 90px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

.notifications {
  color: #b9b9b9;
  font-size: 23px;
  cursor: pointer;
}
.profile-options {
  background-color: #f6af44;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  color: rgb(65, 65, 65);
}
.profile-options:hover {
  background-color: #ededed;
  transition: ease 0.2s;
}
.profile-options:hover > ul {
  display: flex;
  flex-direction: column;
}
.profile-options ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  border-radius: 5px;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  width: 140px;
  margin: 0;
  background-color: white;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.profile-item::before {
  content: "\f1b0";
  top: 18px;
}
.settings-item::before {
  content: "\f013";
  top: 54px;
}
.logout-item::before {
  content: "\f2f5";
  top: 90px;
}
.logout-item {
  border-top: 1px solid #d7d7d7;
  color: #f80303;
}

.profile-options li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 20px;
  transform: translate(-50%, -50%);
}

.profile-options li {
  width: 100%;
  height: 36px;
}
.profile-options li span {
  display: block;
  margin-left: 45px;
  padding-top: 12px;
}

.profile-options li:hover {
  background-color: #ededed;
}

.main-container {
  padding-top: 65px;
  display: flex;
}

aside {
  width: 240px;
  height: calc(100vh - 67px);
  position: fixed;
  top: 67px;
}

.streamers-list {
  background-color: #e8e8e8;
  height: calc(100% - 150px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-bottom: 1px solid white;
}
.streamers-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.streamers-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  font-weight: 600;
  cursor: pointer;
}
.streamers-list li:hover {
  background: #d8d7d7;
  transition: ease 0.5s;
}
.streamers-list li > div {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.streamers-list li > div > span {
  margin-left: 15px;
}

.streamers-list .subscribers {
  margin-right: 15px;
  display: block;
  width: 48px;
  text-align: end;
}
.streamers-list .icon {
  width: 40px;
  height: 40px;
  background: url("../img/avatars/avatars.png") no-repeat;
  background-size: 116px;
}
.streamers-list li:nth-of-type(1) .icon {
  background-position: -10px 0px;
}
.streamers-list li:nth-of-type(2) .icon {
  background-position: -63px -1px;
}
.streamers-list li:nth-of-type(3) .icon {
  background-position: -11px -40px;
}
.streamers-list li:nth-of-type(4) .icon {
  background-position: -63px -40px;
}
.streamers-list li:nth-of-type(5) .icon {
  background-position: -10px -77px;
}
.streamers-list li:nth-of-type(6) .icon {
  background-position: -65px -79px;
  width: 36px;
  height: 36px;
}
.streamers-list li:nth-of-type(7) .icon {
  background-position: -10px -117px;
}
.streamers-list li:nth-of-type(8) .icon {
  background-position: -63px -115px;
}

.active-streamer {
  position: relative;
}

@keyframes changeSize {
  from {
    font-size: 8px;
  }

  to {
    font-size: 11px;
  }
}

.active-streamer::before {
  content: "\f192";
  font-family: "Font Awesome 5 Free";
  color: #db2828;
  font-size: 8px;
  position: absolute;
  right: 40px;
  top: 2px;
  font-weight: 600;
  animation-duration: 0.5s;
  animation-name: changeSize;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.infobox-container {
  background: #e8e8e8;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.infobox {
  height: 114px;
  width: 208px;
  background-color: #dadada;
  display: flex;
  position: absolute;
  top: 18px;
  left: 18px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.infobox p {
  font-family: "Mali", cursive;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.social-icons {
  display: flex;
  width: 130px;
  justify-content: space-between;
}

.social-icons button {
  border: none;
  background: none;
  font-size: 25px;
}

.telegram-button:hover {
  color: #289dcf;
}

.instagram-button:hover {
  color: #f6af44;
}

.facebook-button:hover {
  color: #005f88;
}

article {
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

.categories-list ul {
  display: flex;
  width: 100%;
  height: 65px;
  align-items: center;
  box-sizing: border-box;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories-list ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.categories-list li {
  margin-left: 17px;
}

.categories-list input {
  display: none;
}

.categories-list input[type="radio"]:checked + label {
  background: #f6af44;
  color: white;
}

.categories-list label {
  cursor: pointer;
  background: #e8e8e8;
  border: 1px solid #abaaaa;
  border-radius: 20px;
  padding: 5px 15px;
  font-family: "Mali", cursive;
  letter-spacing: 2px;
  font-weight: 600;
  user-select: none;
  font-size: 15px;
}

.categories-list label:hover {
  background: #d8d7d7;
  transition: ease 0.5s;
}

.slider {
  height: 450px;
  width: 98%;
  align-self: center;
}
/*slider----------------------*/
[type="radio"] {
  display: none;
}

#slider {
  height: 55vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  /* height: 70%; */
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  background-color: white;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

.slider label > div.video-template-card {
  flex-direction: row;
}
.slider label > div.video-template-card .video-meta-data {
  width: 30%;
}
/*slider----------------------*/
.video-template {
  align-self: center;
  margin-top: 20px;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.video-template-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-preview-pic {
  position: relative;
}

.hovered-image:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: ease 0.5s;
}
.hovered-image:hover i {
  visibility: visible;
}
.hovered-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hovered-image i {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}
.hovered-image i:hover {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  transition: ease 0.5s;
}
.video-template-card img {
  width: 100%;
}
.video-template-card img:hover {
  background-image: rgba(0, 0, 0, 0.4);
  transition: ease 0.5s;
}

.video-meta-data {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  position: relative;
}

.video-avatar {
  width: 40px;
  height: 40px;
  background: url("../img/avatars/avatars.png") no-repeat;
  background-size: 116px;
  cursor: pointer;
}

.video-template-card:nth-of-type(1) .video-avatar {
  background-position: -10px 0px;
}

.video-template-card:nth-of-type(2) .video-avatar {
  background-position: -63px -40px;
}

.video-template-card:nth-of-type(3) .video-avatar {
  background-position: -11px -40px;
}

.video-template-card:nth-of-type(4) .video-avatar {
  background-position: -10px -77px;
}
.video-template-card:nth-of-type(5) .video-avatar {
  background-position: -10px -117px;
}

.video-template-card:nth-of-type(6) .video-avatar {
  background-position: -65px -79px;
  width: 36px;
  height: 36px;
}

.video-template-card:nth-of-type(7) .video-avatar {
  background-position: -63px -1px;
}

.video-name-author {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  max-width: 70%;
}

.video-name-author span {
  font-family: "Mali", cursive;
  cursor: pointer;
}

.video-name-author span:first-of-type {
  font-weight: 600;
}
.video-name-author span:last-of-type {
  color: #979797;
  font-size: 12px;
}

.video-menu-btn {
  position: absolute;
  display: block;
  right: 7px;
  top: 10px;
}

.live-video {
  position: relative;
}

.live-video::before {
  content: "LIVE";
  font-family: "Roboto";
  color: white;
  background-color: #f30000;
  font-size: 12px;
  padding: 4px 7px;
  border-radius: 3px;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
  cursor: pointer;
}

.info-video {
  position: absolute;
  right: 6px;
  bottom: 50px;
  font-size: 12px;
  padding: 4px 7px;
  border-radius: 3px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto";
  cursor: pointer;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer i {
  margin-left: 7px;
}
footer span {
  font-family: "Mali", cursive;
}

@media screen and (max-width: 1200px) {
  aside {
    width: 70px;
    height: calc(100vh - 67px);
    position: fixed;
    top: 67px;
    background-color: #e8e8e8;
  }
  .streamers-list {
    border-bottom: none;
  }
  .streamers-list-name,
  .streamers-list > li > span::before,
  span.subscribers,
  .active-streamer {
    visibility: hidden;
  }
  .infobox-container {
    display: none;
  }
  article {
    margin-left: 70px;
    width: calc(100% - 70px);
  }
  .slider {
    display: none;
  }
}
